.b-layout
  background: #fafafa
  min-height: 100vh

.navbar
  margin-bottom: 20px

.b-form
  background: #fff
  padding: 24px
  width: 100%
  max-width: 408px
  box-sizing: border-box

  &-footer
    margin-top: 30px

.table-component__filter
  margin-bottom: 10px