.b-layout
  display: flex
  flex-direction: column
  height: 100vh
  background: #fafafa

.b-main
  flex: 1
  overflow-y: auto

.b-scrollable
  &-container
    display: flex
    flex-direction: column
    box-sizing: border-box
    height: calc(100vh - 72px)

  &-main
    overflow-y: auto

.b-form
  background: #fff
  padding: 24px
  box-sizing: border-box

  &_small
    width: 100%
    max-width: 408px

  &-footer
    margin-top: 30px

.b-notes
  &-list
    position: relative
    flex: 1
    display: flex
    flex-direction: column
    justify-content: flex-start

    > *
      margin-bottom: 0.75rem

    &-item
      padding: 0.375rem 0.75rem
      border: 1px solid #eee
      border-radius: 0.25rem
      background: #fff

      &:hover
        text-decoration: none
        background: #f5f5f5

      &.active
        color: #fff
        background: #2A7CF6
        border-color: #2A7CF6

      &-title
        display: block
        word-break: break-word

      &-body
        display: block
        font-size: 0.6em
        word-break: break-word

  &-note
    background: #fff
    padding: 8px
    width: 100%
    box-sizing: border-box

    @media (min-width: 576px)
      padding: 24px

    &-close
      position: absolute
      top: 0
      right: 0

    &-body
      white-space: pre
      //word-break: break-word

.table-component__filter
  margin-bottom: 10px